{% extends 'GTAdminBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - {{ 'gt.admin.head_title.club.modifier'|trans() }} {% endblock %}

{% block contenu %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>{{ 'gt.admin.club.form.titre.modifier'|trans( { '%club%': club.nom } )|raw }}</h3>
			<div class="well">
				{{ form(form) }}
			</div>
		</div>
	</div>

	{% set vars = {'club' : club, 'equipes' : equipes } %}
	{% include 'GTClubBundle::inc_equipes.html.twig' with vars %}
{% endblock %}
